.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 10px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.button1{
    background-color: rgb(243, 234, 234);
    border: none;
    padding: 8px 22px;
    border-radius: 15px;
    cursor: pointer;
}
/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background */
}
::-webkit-scrollbar-thumb {
    background: #444; /* Dark grey thumb */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Lighter grey on hover */
}

